extends src/views/layout/layout

block prepend head
    - var page = "index"
    - var title = "Toegankelijkheidonline"
    - var description = "Toegankelijkheidonline Culemborg is gespecialiseerd in alles op het gebied van toegankelijkheid"
    - var path = ""
        
block content
  div
      include src/views/reports/report.html
