extends src/views/layout/layout

block prepend head
    - var page = "index"
    - var title = "Toegankelijkheidonline"
    - var description = "Toegankelijkheidonline Culemborg is gespecialiseerd in alles op het gebied van toegankelijkheid"
    - var path = ""
        
block content
  h1 Rapport van Toegankelijkheidonline
  div
    h2 Over deze Evaluatie
    dl
      dt Rapport Auteur:
      dd 
        span Niet ingevuld
      dt Opdrachtgever:
      dd 
        span Niet ingevuld 
      dt Evaluatiedatum: 
      dd 
        span Niet ingevuld
  div
    h2 Managementsamenvatting
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe excepturi asperiores optio quod voluptatibus ab id eveniet, fugit praesentium eligendi cumque. Impedit esse laboriosam accusamus recusandae. Excepturi magni eaque officia!
  div
    h2 Scope van de evaluatie
    dl
      dt Website naam:
      dd 
        span Niet ingevuld
      dt Scope van de website:
      dd 
        span Niet ingevuld
      dt WCAG Versie:
      dd 
        span Niet ingevuld
      dt Conformiteitsdoel:
      dd 
        span Niet ingevuld
      dt Basisniveau van toegankelijkheid-ondersteuning:
      dd 
        span Niet ingevuld
      dt Verdere onderzoeksvereisten:
      dd 
        span Niet ingevuld
  div
    h2 Overzicht toetsresultaten
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime corrupti perspiciatis sunt perferendis tenetur ipsam ex culpa placeat, impedit nihil ad distinctio ratione ipsa molestias est dolorum reprehenderit. Obcaecati, rem?
  div
    h2 Uitgebreide toetsresultaten
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse itaque quidem aliquam ducimus sint quia doloremque rem ratione, quasi ipsam maxime harum at id sunt ullam a dolor dolorum dicta?
  div
    h3 Samenvatting
    p Gerapporteerd over 0 van 50 WCAG 2.1 AA Success Criteria.
    ul
      li
        span 0
        span voldoende
      li
        span 0
        span voldoende
      li
        span 0
        span voldoende
      li
        span 0
        span voldoende
      li
        span 0
        span voldoende
  div
    h3 Alle resultaten
    h4 1 Waarneembaar
    h5 1.1 Tekstalternatieven 
    table
      tbody
        tr
          th Success Criterium
          th Uitkomst
          th Bevindingen
          th 
        tr
          td 1.1.1 Niet tekstuele content
          td
            p Niet getoetst
          td
          td 
            a(href="#") icoon