extends ../layout/layout

block prepend head
    - var page = "privacy"
    - var title = "privacyverklaring"
    - var description = "dit is de privacyvverklaring van Toegankelijkheidonline "
    - var path = "../"

block content
  article(class="article")
    h2(class="h2") privacy statement
    section
      h3.h3.h3--left inleiding
      p.p Toegankelijkheidonline hecht grote waarde aan de bescherming van de persoonsgegevens van haar klanten, partners en andere relaties. Persoonlijke gegevens worden door de Toegankelijkheidonline dan ook met de grootst mogelijke zorgvuldigheid behandeld en beveiligd. Toegankelijkheidonline houdt zich dan ook in alle gevallen aan de eisen die de Wet bescherming persoonsgegevens stelt. In dit privacy beleid staat beschreven hoe Toegankelijkheidonline persoonsgegevens en gegevensbestanden registreert, verwerkt en bewaart. Ook gerelateerde onderwerpen, zoals het raadplegen, muteren, uitwisselen en verstrekken van gegevens staat in dit beleid beschreven. Het privacy beleid omvat alle on- en offline systemen waarin persoonsgegevens voorkomen en is van toepassing op alle bij Toegankelijkheidonline aangesloten organisatieonderdelen.

    section
      h3.h3.h3--left welke persoonsgegevens worden vewerkt
      p.p Hoe gaat Toegankelijkheidonline om met de aan haar toevertrouwde (persoonsgegevens), met welke instanties de gegevens worden gedeeld en waarom, en hoe hiervoor de toestemming van de betrokkenen is geregeld. We gebruiken onderstaande gegevens voor de communicatie met klanten en voor de boekhouding.
      
        ul.list
          li bedrijfsnaam
          li contactpersoon
          li telefoonnummer (optioneel)
          li straat
          li postcode
          li plaats
          li emailadres
          li teksten en afbeeldingen
          li inlogcodes

      p.p Deze gegevens worden in ieder geval 7 jaar bewaard. Dit komt omdat de wet dit eist voor het voeren van een administratie. Alle andere gegevens worden bewaar gedurende de duur van de opdracht en de overeenkomst.

    section
      h3.h3.h3--left opslaan gegevens
      p.p Onze gegevens staan op een netwerkschijf die ruim voldoende is beveiligd. Er kan maar 1 persoon (eigenaar Toegankelijkheidonline) bij de gegevens op deze schijf. De netwerkschijf is moeilijk bereikbaar van buitenaf en alleen via een VPN verbinding. De gegevens worden ook opgeslagen op een laptop, deze is beveiligd met een wachtwoord. De netwerk schrijf staat gedurende de nacht 0.00 - 6.00 uit. Ook wordt er elke nacht een back-up gemaakt naar een netwerkschijf op een andere locatie in Nederland. Dit gebeurt via een beveiligde verbinding en het bestand wordt beveiligd. Ook de netwerkschijf voor de back-up staat van 0.00 - 6.00 uit.

    section
      h3.h3.h3--left beheer
      p.p Gevens worden verstrekt via de een online formulier op de Website of via het eerste gesprek voor een nieuwe opdracht. De enige andere partijen waar de gegevens aan worden verstrekt zijn onze accountant en aan de belastingdienst.
    
    section
      h3.h3.h3--left geheimhouding
      p.p De persoon (eigenaar Toegankelijkheidonline) die permissie heeft persoonsgegevens te registreren en te raadplegen, is verplicht tot geheimhouding tenzij er een wettelijke of redelijke noodzaak toe bestaat gegevens te verstrekken.
    
    section(id="cookies")
      h3.h3.h3--left cookies
      p.p Op deze website wordt alleen een Analytics cookie gebruikt.

    section
      h3.h3.h3--left Privacy wetgeving en Analytics
      p.p Zoals hieronder beschreven in de officiële verklaring die Google Analytics gebruikers op hun website moeten plaatsen maakt deze website gebruik van Google Analytics. Dit programma levert belangrijke statistieken over aantallen bezoekers, de bezochte pagina’s, de verkeersbronnen en andere essentiële informatie waarmee wij deze website voortdurend kunnen verbeteren voor de gebruikers. Deze statistieken zijn anoniem en niet te herleiden tot een bepaalde persoon of gebruiker. Er wordt geen gebruik gemaakt van ‘behavioural targeting’ waarmee u op basis van uw klikgedrag speciale inhoud krijgt te zien; uw surfgedrag blijft volledig anoniem. Gegevens uit contactformulieren worden nooit in Analytics verwerkt of opgeslagen. Google Analytics maakt gebruik van een cookie, dat is een klein bestandje dat op uw computer wordt opgeslagen. Wij hebben Google Analytics conform de privacy wetgeving ingericht, zodat er geen toestemming vooraf van de gebruiker nodig is.
    
    section
      h3.h3.h3--left IP adressen worden gemaskeerd en gegevens niet gedeeld
      p.p Het cookie van Google Analytics is een ‘first party cookie’, dat wil zeggen dat het cookie officieel eigendom is van Hayona en niet van Google. Dit cookie wordt niet gebruikt voor advertenties of andere commerciële doeleinden. Hayona heeft een verwerkersovereenkomst met Google. Daarnaast is Google Analytics zo ingesteld dat IP-adressen anoniem zijn gemaakt, zodat gegevens nooit naar u of uw IP adres te herleiden zijn. Verder wordt vanuit het Analytics account van Hayona geen informatie gedeeld met Google of andere partijen. Daarmee is het Analytics cookie van Hayona een niet-privacy gevoelig first-party cookie dat nodig is om de kwaliteit en veiligheid van hayona.nl te kunnen waarborgen. Het Analytics cookie blijft 6 maanden geldig.
    
    section
      h3.h3.h3--left Opt-out
      p.p Als u het script van Analytics liever helemaal wilt blokkeren dan kunt u hier een opt-out plugin voor Google Analytics downloaden: 
        a(href="https://tools.google.com/dlpage/gaoptout") https://tools.google.com/dlpage/gaoptout.
        |  Met deze plugin telt uw bezoek niet meer mee in de statistieken van alle websites die Google Analytics gebruiken.

    section
      h3.h3.h3--left Google Analytics – verklaring van Google
      p.p Deze website maakt gebruik van Google Analytics, een webanalyse-service die wordt aangeboden door Google Inc. (“Google”). Google Analytics maakt gebruik van “cookies” (tekstbestandjes die op uw computer worden geplaatst) om de website te helpen analyseren hoe bezoekers de site gebruiken. De door het cookie gegenereerde anonieme informatie over uw gebruik van de website wordt overgebracht naar en door Google opgeslagen op servers in de Verenigde Staten. Google gebruikt deze informatie om bij te houden hoe deze website wordt gebruikt, rapporten over de website-activiteit op te stellen voor de eigenaar van deze website (Hayona BV) en andere diensten aan te bieden met betrekking tot website-activiteit en internetgebruik. Google mag deze informatie alleen aan derden verschaffen indien Google hiertoe wettelijk wordt verplicht, of voor zover deze derden de informatie namens Google verwerken. Google zal Uw IP-adres niet combineren met andere gegevens waarover Google beschikt. U kunt het gebruik van cookies weigeren door in Uw browser de daarvoor geëigende instellingen te kiezen. Wij wijzen u er echter op dat u in dat geval wellicht niet alle mogelijkheden van deze website kunt benutten. Door gebruik te maken van deze website geeft u toestemming voor het verwerken van de informatie door Google op de wijze en voor de doeleinden zoals hiervoor omschreven.

    section
      h3.h3.h3--left reclamedoeleinden
      p.p Op dit moment versturen wij geen reclame rond via de mail of via andere kanalen. Wel hebben wij e-mail contact met onze klanten voor overleg over een afgenomen product of service. Wij verstrekken nooit gegevens aan derden.

    section
      h3.h3.h3--left dataklekken
      p.p Wij doen er alles aan om datalekken te voorkomen en om er voor te zorgen dat onze beveiliging op orde is. Mocht het toch gebeuren dan zal dat gemeld worden aan alle betrokkenen en aan de Autoriteit Persoonsgegevens.
    
    article(class="article")
    h2(class="h2") veel gestelde vragen
    section
      h3.h3.h3--left wat zijn persoonsgegevens?
      p.p Er zijn gegevens die iets over jou zeggen. Bijvoorbeeld je naam, adres, leeftijd. Wanneer (een combinatie van) deze gegevens naar jou herleid kunnen worden spreken we over persoonsgegevens. Bijvoorbeeld je adres of e-mailadres. Maar bijvoorbeeld ook je voornaam samen met je geboortedatum. Wanneer anderen die persoonsgegevens hebben, moeten ze daar zorgvuldig mee omgaan. Ook foto’s en video’s worden gezien als persoonsgegevens.
    
    section
      h3.h3.h3--left van wie verwerkt Toegankelijkheidonline persoonsgegevens?
      p.p Toegankelijkheidonline verwerkt persoonsgegevens van mensen die klant bij ons zijn of waar we mee samenwerken. Ook verwerken wij gegevens van mensen die aan een bedrijf of organisatie verbonden zijn, waar wij een relatie mee hebben, willen krijgen of hebben gehad.
   
    section
      h3.h3.h3--left wie is verantwoordelijk voor de verwerking van mijn persoonsgegevens?
      p.p Alleen de eigenaar van Toegankelijkheidonline is verantwoordelijk voor het verwerken van persoonsgegevens.
    
    section
      h3.h3.h3--left waarvoor verwerkt Toegankelijkheidonline persoonsgegevens?
      p.p Over het algemeen omdat we dit wettelijk verplicht zijn. Als we een factuur sturen dan zijn we wettelijk verplicht daar een aantal gegevens op te zetten. De factuur moeten we zeven jaar verzamelen. Verder verzamelen we gegevens omdat we een website moeten bouwen en ontwerpen. We hebben daarvoor informatie over de klant of persoon nodig. Soms hebben we gegevens nodig om een domeinnaam te registreren dat gaat in overleg en daar wordt dan toestemming voor gegeven.
    
    section
      h3.h3.h3--left verwerkt Toegankelijkheidonline ook bijzondere persoonsgegevens?
      p.p Bijzondere persoonsgegevens zijn gevoelige gegevens, bijvoorbeeld over gezondheid, strafrechtelijk verleden, etnische gegevens of gegevens betreffende ras. Wij verwerken geen bijzonder persoonsgegevens.

    section
      h3.h3.h3--left hoe gaat Toegankelijkheidonline met mijn persoonsgegevens om?
      p.p Je persoonsgegevens worden zorgvuldig bewaard en niet langer dan noodzakelijk is voor normaal gebruik of het doel waarvoor zij zijn verwerkt.
    
    section
      h3.h3.h3--left wie kan er bij mijn persoonsgegevens?
      p.p Je kunt zelf niet direct bij je persoonsgegevens. Maar op verzoek kunnen we je laten zien welke gegevens we van je hebben opgeslagen. Ook kan je aangeven dat je niet wilt dat we ze bewaren of je kan ze wijzigen. Alleen de gegevens die we volgends de wet moeten bewaren voor de administratie kunnen we niet verwijderen. Alleen de eigenaar kan bij deze gegevens.
    
    section
      h3.h3.h3--left uitwisseling van persoonsgegevens binnen Toegankelijkheidonline
      p.p Gegevens worden binnen Toegankelijkheidonline alleen uitgewisseld indien hier een noodzaak voor is. Toegankelijkheidonline is een eenmanszaak dus het uitwisselen van persoonsgegevens is niet aan de orde.
    
    section
      h3.h3.h3--left hoelang worden mijn gegevens bewaard?
      p.p Voor gegevens die noodzakelijk zijn voor het voeren van een administratie zijn we genoodzaakt deze 7 jaar te bewaren. Voor de overige gegevens geldt dat we ze bewaren zolang iemand klant bij ons is. Daarna overleggen we wat we met de gegevens doen. We kunnen ze bewaren, vernietigen of aan de klant overhandigen.
    
    section
      h3.h3.h3--left welke regels gelden bij de verwerking van persoonsgegevens?
      p.p Bij de verwerking van persoonsgegevens is Toegankelijkheidonline gebonden aan de daarvoor geldende wet- en regelgeving.
    
    section
      h3.h3.h3--left kan ik zien welke gegevens Toegankelijkheidonline van mij verwerkt?
      p.p Daarvoor kan je te allen tijde contact opnemen met de eigenaar via 
       a.link(href="mailto: info@toegankelijkheidonline.com") Toegankelijkheidonline.
    
    section
      h3.h3.h3--left waar kan ik terecht met een vraag of klacht?
      p.p Voor vragen of klachten over de verwerking van persoonsgegevens door Toegankelijkheidonline kun je contact opnemen 
        a.link(href="mailto: info@toegankelijkheidonline.com") Toegankelijkheidonline.
    
    section
      h3.h3.h3--left wijzigingen privacy beleid
      p.p Toegankelijkheidonline behoudt zich het recht voor om wijzigingen aan te brengen in dit privacy beleid. Het verdient aanbeveling om dit privacy beleid te raadplegen voordat je klant bij ons wordt, zodat je van de wijzigingen op de hoogte bent.

          

